.first_paragraph{
  background: rgb(255,218,5);
  padding: 1em;
  border-radius: 20px;
  border-style:solid;
  border-color: rgb(0,0,0);
  border-width:5px;
}
.white{
  height:1px;
  background-color:white;
  padding:0.3em;
}  
.black{
  height:1px;
  background-color:black;
  padding:0.3em;
}
.first{
  background: black;
  padding:0.5em;
  color:white;
  font-size:60px;
  margin-bottom:0px;
  margin-top: 10px;
  border-style:solid;
  border-color: rgb(255, 218, 5);
  border-radius:20px;
  border-width: 5px;
}
.index{
  padding:2em;
}
.head2{
  width:100%;
  font-size:60px;
  font-style:bold;
  padding:20em;
  place-items: center;
  
}
.pi{
  width:500px;
  border-style:solid;
  border-color: rgb(0,0,0);
  border-radius:20px;
  border-width:5px;
  
  
}
.head{
  width:250x;
  padding:0.5em;
  font-size:60px;
  text-shadow:2px 2px 4px #000;
  background: rgb(255,218,5);
  margin-bottom:10px;
  margin-right:10px;
  margin-top:10px;
  border-style:solid;
  border-color: rgb(0,0,0);
  border-radius:20px;
  border-width:5px;
  place-items: center;
  animation:color 2s infinite
}
.bb{
  background:lavenderblush;
  height:100vh;
  display:grid;
  place-items:center;  
}
.head2{
  
  font-weight:bold ;
  font-family:'pacifico',cursive;
  width:100%;
  font-size:60px;
  text-shadow:2px 2px 4px #000;
  animation:color 0.01s infinite;
}
@keyframes color{
  0%{color: orange}
  10%{color:purple}
  20%{color:red}
  30%{color:cadetblue}
  40%{color:yellow}
  50%{color:coral}
  60%{color:green}
  70%{color:cyan}
  80%{color:deeppink}
  90%{color:dodgerblue}
  100%{color:orange}
}
.div2{
  background-color:black;
  padding:0.5em;
  border-style:solid;
  border-color: rgb(255, 218, 5);
  border-radius:20px;
  border-width: 5px;
  
}
.pi2{
   width:500px;
  margin-left:150px;
  border-style:solid;
  border-color: rgb(255,218,5);
  border-radius:20px;
  margin-top: 10px;
  
}
.AA{
  float:left;
  border-radius:100px;
  height:200px;
  margin-right:40px;
  margin-bottom:20px;
  border-style:solid;
  border-width:5px;
  border-color: black;
}

.div1{
  background-color:black;
  padding:1em;
  margin-bottom: 10px;
  border-style:solid;
  border-color: rgb(255, 218, 5);
  border-radius:20px;
  border-width: 5px;
}
.div1 p{
  color:white; 
}
.div1 h2{
  color:white;
  margin-left:30px;
}
.ul1{
  margin-left:20px;
}
  
.div2 p{
  color:white;
  margin-left:30px;
  margin-top:10px;
}
summary{
  padding:1em;
  background:rgb(255,218,5);
  margin-bottom: 1em;
  outline: none;
  cursor:pointer;
  border-style:solid;
  border-color: rgb(0,0,0);
  border-radius:20px;
  border-width:5px;
}
details[open] summary ~ *{
  animation:sweep.5s ease-in-out;
}
@keyframes sweep{
  from{
    opacity:0; margin-top:-10px;
  }
  to{
    opacity:1; margin-top:0;
  }
    }